@model LCLFileUpload.Models.tblRentalTagRange

@{
    ViewBag.Title = "Edit Tag Range";
}

<h3>@ViewBag.Title</h3>
<hr style="color:#c00;background-color:#c00;height:1px;border:none;" />

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>tblOffice</legend>

        <!--<div class="editor-label">
            @Html.LabelFor(model => model.RentalID)
        </div>-->
        <div class="editor-field">
            @Html.EditorFor(model => model.RentalID)
            @Html.ValidationMessageFor(model => model.RentalID)
        </div>
        <div class="editor-field" >
            <h7>@Html.LabelFor(model => model.TagValFrom)</h7>
        </div>
        <div class="editor-field" >
            @Html.EditorFor(model => model.TagValFrom)
            @Html.ValidationMessageFor(model => model.TagValFrom)
        </div>       
        <div class="editor-field" >
            <h7>@Html.LabelFor(model => model.TagValTo)</h7>
        </div>
        <div class="editor-field" >
            @Html.EditorFor(model => model.TagValTo)
        </div>       
        <div class="editor-field" >
            <h7>@Html.LabelFor(model => model.Description)</h7>
        </div>
        <div class="editor-field" >
            @Html.EditorFor(model => model.Description)
        </div>       
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
<hr style="color:#c00;background-color:#c00;height:1px;border:none;" />
<h4> @ViewBag.Message</h4>
<br />
<div>
    <h5>@Html.ActionLink("Back to List", "EnterTagRanges", new { JobNo = Request.Params["JobNo"] })</h5>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
